@model BlogChallenge.Models.Post

@{
    ViewData["Title"] = "Details";
}
<div class="text-right">
    <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
</div>
&nbsp;

<h1>@Html.DisplayFor(model=>model.Title)</h1>

<div>
    <div>
        <h4>@ViewBag.category</h4>
        <p class="text-right font-italic">@Html.DisplayFor(model => model.CreationDate)</p>
    </div>
        <hr />
    <dl class="row d-flex justify-content-center align-items-center">        
            <dd class="col-sm-10">
                <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="1200" class="img-thumbnail" />
            </dd>
            <dd class="col-sm-10 text-justify">
                @Html.DisplayFor(model => model.Content)
            </dd>
    </dl>
</div>
